*{
	padding: 0；
	margin:0;
}

body,html{
	min-width: 1500px;
	overflow-x: hidden;
}

.clear{
	height: 0;
	clear: both;
	overflow:hidden;
}

#container{
	width: 100%;
	height: auto;
}

#hearder{
	width: 100%;
	height: 65px;
	background-color: white;
	margin-top: 10px;
	border-bottom: 1px solid grey;
}
#header-one{
    width: 20%;
    height: 100%;
    top: 50%;
    float: left;
    margin-left: 55%;
    line-height: 4em;
}

#header-two{
	width: 10%;
	height: 100%;
	float: left;
    display: flex;
    justify-content: space-around;
    line-height: 4em;

}
#header-two-left{
   height: 100%;
   width: 50%;
}
#header-two-right{
	width: 40%;
	height: auto;
	background-image: url(../image/1.jpg);
	background-position: 50% 50%;
	background-size: 70% auto;
	background-repeat: no-repeat;
}

#main{
	width: 100%;
	height: 800px;
	background-color: #e7ebee;
	margin:0 auto;
	border-top:1px solid #8896b3;
}

#main-one{
	width: 100%;
	height: auto;
	background-color: #e7ebee;
	color:grey;
	margin-left: 5%;
}
#main-two{
	margin-top: 5%;
	width: 80%;
	height: auto;
	background-color: white;
	margin:0 auto;
	border:1px solid #8896b3;
	margin-left: 6%;
	margin-top: 2%;
}
#main-two-one{
 
	height: auto;
	margin-top: 10px;
}

#main-two-two{
	width: 100%;
	height: auto;
	margin-top:10px;
}